<mat-toolbar color="primary">
  <img src="/assets/lp_logo.jpg" class="logo">
  <span> My LP Collection </span>
</mat-toolbar>

<app-lp-entry></app-lp-entry>

<mat-card>

<mat-card-content>
 <div> 
   <img class="logo" src="/assets/abbeyroad.jpg">
  <span fxLayout="row">album, artist,</span> 

 </div>
 
  
</mat-card-content>

</mat-card> <br>
<mat-card>

  <mat-card-content>
      <img class="logo" src="/assets/rumours.jpg">image, album, artist, rating
  </mat-card-content>
  
  </mat-card> <br>
  <mat-card>

    <mat-card-content>
        <img class="logo" src="/assets/brothers.jpg">image, album, artist, rating
    </mat-card-content>
    
    </mat-card>
      